# Default ignored files
/shelf/
/workspace.xml
SimpleAnimation.java
SimpleChatClient
SimpleChatServer
SongList.txt
TwoButtons.java
yazheprosilmenyaubit.java
Quiz_Card_Builder.java
Quiz_Card_Player.java
QuizCard

Of76.java
Pond.ser
MyRunnable.java
MyRemote.java
MyMidiMelody.java
MyFirstClass
MyDrawPanel1.java
MyBeatBox
Movie
MiniFrame.java
JustStudy.java
itsClass.java
Human
GameSaverTest.java
GameCharacter
Game.ser
Game.cer
Foo.txt
FloodTheSite.java
Examples
dg.ser
DZ1.zip
DZ2.zip
DZ3.zip
DZ4.zip
DZ5++.zip
DZ6.zip
DZ 7.zip
DZ8.zip
DZ9.zip
DZ101.zip
DailyAdviceClient
DailyAdviceServer
czNew.zip
croszero
VerySimpleServlet.java
MyRemoteImpl.java
MyRemoteClient
\myJavaProgram
.name
misc.xml
modules.xml
uiDesigner.xml
vcs.xml
Animate$MDP21.class
Animate.class
BankAccount.class
BoX12.class
Button1.class
ChaT34.class
DailyAdviceClient.class
DailyAdviceServer.class
Desk.class
DotCom.class
DotComBust.class
DungeonGame.class
DungeonGameTest.class
Examples.class
GameCharacter.class
GameHelper.class
GameSaverTest.class
Human.class
MiniMidiSound.class
MiniMusicCmdLine.class
Mountain.class
Movie.class
MyBeatBox$MyDownTempoListener.class
MyBeatBox$MyReadInListener.class
MyBeatBox$MySendListener.class
MyBeatBox$MyStartListener.class
MyBeatBox$MyStopListener.class
MyBeatBox$MyUpTempoListener.class
MyBeatBox.class
MyFirstClass.class
MyMidiMelody.class
MyRunnable.class
NewProject.iml
Panel1.class
Pound21$Duck.class
Pound21.class


QuizCard.class
ReadAFile.class
RunThread.class
RyanAndMonicaJob.class
SimpleChatClient$IncomingReader.class
SimpleChatClient$SendButtonListener.class
SimpleChatClient.class
SimpleChatServer$ClientHandler.class
SimpleChatServer.class
SortMountains$HeightCompare.class
SortMountains$NameCompare.class
SortMountains.class
ThreadTester.class
WtiteAFile.class
croszero.class
klj.class
inspectionProfiles/